
body {
  background-color: #020202;
}

p {
  color: #f6f6f6;
}

a {
  color: #f6f6f6;
}

h1,
h2,
h3,
h4,
h5 {
  color: #b09876;
}

.title-font {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.line{
  border-top-style: solid;
  border-color: #b09876;
  border-width: 2px;
}

.main-card{
  background-color: #b09876;
}

.main-card-link{
  color:#020202;
}

.container {
  background-color: #161616;
  padding: 20px;
  border-radius: 8px;
}

nav,
.navbar-black {
  background-color: #161616;
}

.nav-link {
  color: #b09876;
}

.navbar-brand {
  color: #b09876;
}

img {
  max-width: 100%;
  height: auto;
}

.card {
  background-color: #282828;
}
