<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../css/stylesheet.css" />
        <title>Kugsis Catering | Impressum</title>
        <link rel="icon" type="image/x-icon" href="../favicon.jpeg" />
    </head>
    <body>
        <!--Navbar-->
        <nav class="navbar navbar-expand-md fixed-top navbar-dark navbar-black">
            <div class="container-fluid">
                <a class="navbar-brand title-font" href="../index.html#home"
                    >Kugsis Catering</a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="true"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#home"
                                >Home</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#menu"
                                >Menü</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#contact"
                                >Kontakt</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#impressum">Impressum</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="mt-5 p-4" id="impressum">
            <div class="container text-center">
                <h1 class="my-4">Impressum</h1>
                <div class="mt-5 mb-4">
                    <p>Kugsis Catering e.U.</p>
                    <p>Nicole Kugler</p>
                    <p>ATU37164744</p>
                    <p>BH Amstetten</p>
                    <p>Teichstraße 19, 3304 AT</p>
                    <p><a href="tel:+43 676 4569925">+43 676 4569925</a></p>
                    <p>
                        <a href="mailto:raimund.kugler@gmx.at"
                            >raimund.kugler@gmx.at</a
                        >
                    </p>
                </div>
                <div class="mt-5 mb-4">
                    <a href="../index.html">Zurück</a>
                </div>
            </div>
        </section>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
